[submodule "3rdparty/go"]
	path = 3rdparty/go
	url = https://github.com/edgelesssys/ertgo
[submodule "3rdparty/openenclave/openenclave"]
	path = 3rdparty/openenclave/openenclave
	url = https://github.com/openenclave/openenclave
[submodule "3rdparty/ttls"]
	path = 3rdparty/ttls
	url = https://github.com/edgelesssys/ttls
